/* Variables */
:root {
    --col-success: #00c900;
    --col-danger: #ff3b14;
    --col-warning: #ffe100;
    --col-info: #00aeff;
    --col-btn-inactive: #00bfff;
    --col-btn-hover: #69dcff;
    --col-btn-disabled: rgba(0, 125, 166, 0.9);
    --col-tab-active: #424242;
    --hbar-grad: linear-gradient(#000000, #606060, #000000);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
}

header > div {
    display: flex;
    flex-direction: row;
    background: var(--hbar-grad);
    padding: 0px 12px;
    color: #fff;
    align-items: center;
    height: 45px;
}

main {
    display: flex;
    flex-direction: column;
}

/* main > div {
    height: 20%;
} */

#plots {
    height: 100%;
}

a {
    color: #69daff;
}

input[type="button"], button {
    background: var(--col-btn-inactive);
    color: #ffffff;
    padding: 4px;
    border: 0;
    border-radius: 4px;
    transition: background .2s ease;
}
input[type="button"]:hover, button:hover {
    background: var(--col-btn-hover);
}
input[type="button"]:disabled, button:disabled {
    background: var(--col-btn-disabled);
}

input[type="button"] {
    width: 100px;
}

input[type="file"] {
    padding: 0;
}

input:invalid {
    border-color: red;
    border-style: solid;
}

footer {
    width: 100%;
    text-align: center;
}

footer div {
    vertical-align: bottom;
    background: var(--hbar-grad);
    color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
}

.layout {
    flex: 1;
    display: grid;
    /* grid-template-columns: 300px 1fr 400px; */
    grid-template-columns: 1fr 400px;
}

/*TODO: At some point we want to make this resizable.*/
.right-column {
    display: grid;
    grid-template-rows: 70% 30%;
}

#config {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    transform: translateX(-100%);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #616161;
    color: #fff;
    opacity: 0.8;
    transition: transform 0.3s ease;
}

#sideToggle {
    margin-right: 12px;
}

#wordmark {
    font-size: 16pt;
    margin-left: 16px;
    flex-grow: 1;
}

#spreadsheet {
    overflow-y: auto;
    /* height: 350px; */
    max-height: 350px;
    font-size: 11pt;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead th {
    position: sticky;
    top: 0;
    background: var(--hbar-grad);
    color: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
}

td {
    text-align: center;
}

tbody tr:hover {
    background: #bef;
}

/* Alternate row color slightly */
tr:nth-of-type(2n) {
    background-color: rgba(0, 0, 0, 0.05);
}

#status {
    text-align: right;
}

#status.success {
    color: var(--col-success);
}
#status.error {
    color: var(--col-danger);
}
#status.wait {
    color: var(--col-info);
}
#status.warn {
    color: var(--col-warning);
}
#status.wait > i {
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #333;
    color: #fff;
    padding: 6px;
}

.header > * {
    margin-left: 4px;
    align-self: center;
}

.header > span {
    flex-grow: 2;
}

.settings-group {
    display: flex;
    flex-direction: column;
}
.settings-group > .group-header {
    display: flex;
    flex-direction: row;
    background-color: #383838;
    color: #fff;
    padding: 6px;
}
.settings-group > .group-content {
    display: flex;
    flex-direction: column;
    /* padding: 12px; */
}

.group-header > span {
    flex-grow: 1;
}

.settings-subhead {
    display: flex;
    flex-direction: row;
    background-color: #4f4f4f;
    color: #fff;
    padding: 6px;
}

.control-group {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.input-group {
    display: flex;
    flex-direction: row;
    font-size: 11pt;
}
.input-group > * {
    padding: 4px;
}
.input-group > input {
    /* border-top-right-radius: 0; */
    /* border-bottom-right-radius: 0; */
    border-radius: 4px 0 0 4px;
    border: 0;
    font-size: inherit;
    flex-grow: 1;
}
.input-group > input[type="file"] {
    width: 65%;
}
.input-group > button:not(:last-of-type) {
    border-radius: 0;
}
.input-group > button:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.select-group {
    display: flex;
    flex-direction: row;
}
.select-group > button:not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
}
.select-group > button:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.select-group > button:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.select-group > button:disabled {
    background-color: var(--col-success);
}

.button-group {
    display: flex;
    flex-direction: row;
}
.button-group > button:not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
}
.button-group > button:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.button-group > button:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.slider-group {
    display: flex;
    flex-direction: row;
}

#tabber {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    margin: auto 12px 0;
}

#tabs {
    max-width: calc(100% - 15px);
    /* overflow-x: scroll; */
}

.new-tab-btn {
    border-color: #fff;
    border-style: solid;
    border-width: 3px 3px 0;
    padding: 6px;
    transition: .1s;
}
.new-tab-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-style: outset;
}
.new-tab-btn:active {
    background-color: rgba(0, 0, 0, 0.1);
    border-style: inset;
}

.tooltip {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-left: 14px;
    background-color: transparent;
    color: transparent;
    transition: color .1s, background-color .1s;
}

.new-tab-btn:hover .tooltip {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.tab {
    display: flex;
    flex-direction: row;
    padding: 6px;
    border-color: #fff;
    border-style: solid;
    border-width: 3px 3px 0;
    color: #fff;
}
.tab.active {
    border-style: outset;
    background-color: #545454;
}